# Environment & Secrets
.env
*.json.secret

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log

# Node (falls firebase-tools lokal installiert)
node_modules/

# OS
.DS_Store
Thumbs.db
